{:id :todo-toggle-all
 :doc "Toggle all todos, then fetch + render list"

 :input-schema [:map [:http-request :map]]

 :fragments
 {:tail {:ref   "fragments/fetch-render-list.edn"
         :as    :fetch-list
         :exits {:done :end}}}

 :cells
 {:start
  {:id       :request/parse-todo
   :doc      "Parse request parameters"
   :schema   {:input  [:map [:http-request :map]]
              :output [:map [:filter :string]]}
   :on-error nil
   :requires []}

  :toggle-all
  {:id       :todo/toggle-all
   :doc      "Toggle all todos"
   :schema   {:input  [:map]
              :output [:map]}
   :on-error nil
   :requires [:db]}}

 :edges
 {:start      :toggle-all
  :toggle-all :fetch-list}

 :dispatches {}}
