{:id :todo-update
 :doc "Update a todo title, then fetch + render list"

 :input-schema [:map [:http-request :map]]

 :fragments
 {:tail {:ref   "fragments/fetch-render-list.edn"
         :as    :fetch-list
         :exits {:done :end}}}

 :cells
 {:start
  {:id       :request/parse-todo
   :doc      "Parse request parameters"
   :schema   {:input  [:map [:http-request :map]]
              :output [:map [:todo-id :int] [:title :string] [:filter :string]]}
   :on-error nil
   :requires []}

  :update-title
  {:id       :todo/update-title
   :doc      "Update the todo title"
   :schema   {:input  [:map [:todo-id :int] [:title :string]]
              :output [:map]}
   :on-error nil
   :requires [:db]}}

 :edges
 {:start        :update-title
  :update-title :fetch-list}

 :dispatches {}}
