{:id :login-page
 :doc "Renders the login form"

 :cells
 {:start
  {:id       :ui/render-login-page
   :doc      "Render the login form page"
   :schema   {:input  [:map]
              :output [:map
                        [:html :string]]}
   :requires []}}

 :edges
 {:start {:done :end}}

 :dispatches
 {:start {:done (fn [_] true)}}}
