{:id :user-onboarding
 :doc "Handles user authentication and profile retrieval (JSON API)"

 :input-schema [:map [:http-request [:map [:headers map?] [:body map?]]]]

 :fragments
 {:auth {:ref   "fragments/parse-auth.edn"
         :as    :start
         :exits {:success :render-home
                 :failure :render-error}}}

 :cells
 {:render-home
  {:id       :ui/render-home
   :doc      "Render the home page response"
   :schema   {:input  [:map
                        [:profile [:map
                          [:name :string]
                          [:email :string]]]]
              :output [:map
                        [:http-response [:map
                          [:status :int]
                          [:body map?]]]]}
   :on-error :render-error
   :requires []}

  :render-error
  {:id       :ui/render-error
   :doc      "Render a styled error page"
   :schema   {:input  [:map]
              :output [:map
                        [:html :string]
                        [:error-status :int]]}
   :on-error nil
   :requires []}}

 :edges
 {:render-home      {:done :end}
  :render-error     {:done :end}}

 :dispatches
 {:render-home      [[:done (fn [_] true)]]
  :render-error     [[:done (fn [_] true)]]}}
