{:id :user-list
 :doc "Authenticate and fetch all users, then render the user list page"

 :input-schema [:map [:http-request [:map]]]

 :fragments
 {:auth {:ref   "fragments/cookie-auth.edn"
         :as    :start
         :exits {:success :fetch-all-users
                 :failure :render-error}}}

 :cells
 {:fetch-all-users
  {:id       :user/fetch-all-users
   :doc      "Fetch all users from the database"
   :schema   {:input  [:map]
              :output [:map
                        [:users [:vector [:map
                          [:id :string]
                          [:name :string]
                          [:email :string]]]]]}
   :on-error :render-error
   :requires [:db]}

  :render-list
  {:id       :ui/render-user-list
   :doc      "Render the user list page"
   :schema   {:input  [:map
                        [:users [:vector [:map
                          [:id :string]
                          [:name :string]
                          [:email :string]]]]]
              :output [:map
                        [:html :string]]}
   :on-error :render-error
   :requires []}

  :render-error
  {:id       :ui/render-error
   :doc      "Render a styled error page"
   :schema   {:input  [:map]
              :output [:map
                        [:html :string]
                        [:error-status :int]]}
   :on-error nil
   :requires []}}

 :edges
 {:fetch-all-users  {:done :render-list}
  :render-list      {:done :end}
  :render-error     {:done :end}}

 :dispatches
 {:fetch-all-users  [[:done (fn [_] true)]]
  :render-list      [[:done (fn [_] true)]]
  :render-error     [[:done (fn [_] true)]]}}
