{:id :user-list
 :doc "Fetch all users and render the user list page"

 :cells
 {:start
  {:id       :user/fetch-all-users
   :doc      "Fetch all users from the database"
   :schema   {:input  [:map]
              :output [:map
                        [:users [:vector [:map
                          [:id :string]
                          [:name :string]
                          [:email :string]]]]]}
   :requires [:db]
   :transitions #{:done}}

  :render-list
  {:id       :ui/render-user-list
   :doc      "Render the user list page"
   :schema   {:input  [:map
                        [:users [:vector [:map
                          [:id :string]
                          [:name :string]
                          [:email :string]]]]]
              :output [:map
                        [:html :string]]}
   :requires []
   :transitions #{:done}}}

 :edges
 {:start       {:done :render-list}
  :render-list {:done :end}}}
